:root {
    --heading-background-color: rgb(221, 223, 220);
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

main {
    width: 75vw;
    margin: 1rem auto;
    background-color: var(--heading-background-color);
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
}

p {
    text-align: justify;
}

.col1 img {
    float: right;
    margin: 0 0 15px 15px;
    border: 1px solid rgba(0 0 0 / .3);
    box-shadow: 0 0 30px #777;
}

footer {
    clear: both;
    border-top: 1px solid #555;
    padding-top: 5px;
    /* Remove the comment below and observe the results. */

    /* clear: both; */
}