main {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: darkblue;
    margin: 10px;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 300px;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    background-color: #eee;
    color: #000;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid black;
    text-align: center;
    font-size: .9rem;
}